.ScripturePanel-mainContainer {
  background-color: #efefef;

  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.ScripturePanel-horizontalContainer {
  background-color: #efefef;
  max-width: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: space-around;
}

.ScripturePanel-dateCardContainer {
  height: 60px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.ScripturePanel-dateCard {
  background-color: white;
  box-shadow: 2px 2px 4px 0px rgb(179, 179, 179);
  padding: 8px 12px;
  margin-right: 4px;
  border-radius: 10px;
  font-size: var(--m);
  font-weight: 600;
}

.ScripturePanel-dateCardSeparator {
  padding: 8px 12px;
  font-size: var(--l);
  font-weight: 300;
}


.ScripturePanel-verticalContainer {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  align-items: center;
  width: 60%;
}

.ScripturePanel-scripture {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ScripturePanel-scriptureContainer {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  max-width: 80%;
  box-shadow: 0px 0px 20px -5px var(--darkbackground);

}
.ScripturePanel-verse-text {
  margin: 10px 0px;
  font-size: var(--m2);
  
}

.ScripturePanel-reflection-text {
  margin: 10px 0px;
  font-size: var(--m);
  
}

.ScripturePanel-reflection-title {
  margin: 10px 0px;
  font-size: var(--m);
  
}

.ScripturePanel-verse-title {
  margin: 10px 0px;
  font-size: var(--m2);

}

.ScripturePanel-title {
  font-size: var(--xl);
  text-align: center;
  margin: 20px 0px 0px 0px ;
}

.ScripturePanel-setScriptureButton {
  color: white;
  margin-top: 50px;
  font-size: var(--m2);
  padding: 15px 60px;
  background-color: var(--secondary);
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(128, 128, 128);
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.ScripturePanel-setScriptureButton:hover {
  background-color: var(--secondary-light);
  cursor: pointer;
}

.SetScripture-modalHidden {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.SetScripture-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.SetScripture-modalContent {
  font-size: var(--l);
  background-color: #efefef;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 700px; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgb(128, 128, 128);
  position: relative;

}

.SetScripture-modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SetScripture-modalRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.SetScripture-inputBox {
  font-family: inherit;
  font-size: var(--l);
}
.SetScripture-heading {
  font-weight: 600;
  margin-top: 12px;
}
.SetScripture-sampleText {
  margin: 8px 0px 8px 0px;
  font-style: italic;
  padding: 8px;
  border: 2px solid var(--medgrey);
  max-width: 600px;
}




.SetScripture-closeButton {
  color: white;
  padding: 6px 20px;
  background-color: var(--secondary);
  max-width: 100px;
  border-radius: 10px;
  position: absolute;
  right: -25px;
  top: -25px;
}

.SetScripture-closeButton:hover {
  background-color: var(--secondary-light);
  cursor: pointer;
}

.SetScripture-submitButton {
  color: white;
  padding: 6px 20px;
  background-color: var(--secondary);
  max-width: 200px;
  border-radius: 10px;
}

.SetScripture-submitButton:hover {
  opacity: .7;
  cursor: pointer;
}

.SetScripture-submitButtonInactive {
  opacity: .5;
  color: white;
  padding: 6px 20px;
  background-color: var(--secondary);
  max-width: 200px;
  border-radius: 10px;
}
.Label {
  font-size: var(--l);
  margin-right: 16px;
}